*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    border: none;
    outline: none;
}

:root{
    --bg-color: #0c0c0c;
    --secont-bg-color: #100f0f;
    --main-color: #f5e9ec;
    --text-color: #f4ecec;
    --second-color: #faf5f5;
    --other-color: #e1dedebf;
    
    --h1-font: 7rem;
    --h2-font: 3.5rem;
    --p-font: 1.1rem;
}

body{
    color: var(--text-color);
    background: var(--bg-color);
}
header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 11% ;
    border-bottom: 1px solid transparent;
}
.logo a{
    width: 100%;
    height: auto;
    font-family: "Dosis", sans-serif;
    font-weight: 900;
    font-size: 42px;
    color: #f4f1f1;
}
.navlist{
    display: flex;
}
.navlist a{
color: var(--second-color);
font-size: var(--p-font);
font-weight: 600;
margin: 0 40px;
}
#menu-icon{
    font-size: 42px;
    color: var(--main-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}

section{
    padding: 120px 19% 100px;
}


.home{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    display:flex;
    align-items: center;
    justify-content: flex-start;
}
.hero-text h3{
    color: var(--second-color);
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 15px;
    word-spacing: 10px;
}
.hero-text h1{
    font-family: "Dosis", sans-serif;
    font-size: var(--h1-font);
    color: var(--text-color);
    font-weight: 800px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.hero-text h4{
    color: var(--second-color);
    font-size: 25px;
    font-weight: 600px;
    word-spacing: 15px;
    margin-bottom: 3.5rem;
}
.btn{
    display: inline-block;
    padding: 16px 45px;
    background: #ff004f;
    color: var(--main-color);
    font-size: var(--p-font);
    font-weight: 600px;
    border: 2px solid var(--bg-color);
}
header.sticky{
    padding: 15px 11%;
    background: #000;
    border-bottom: 1px solid #4e5055;

}



.about{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    gap: 4rem;
}
.about-img{
    width: 100%;
    height: auto;
}
.about-text h2{
    font-family: "Dosis", sans-serif;
    font-size: var(--h2-font);
    font-weight: 800;
    margin-bottom: 10px;
}
.about-text h5{
    font-size: 22px;
    margin-bottom: 20px;
    line-height: 1.4rem;
}
span{
    color: var(--main-color);
}
.about-text p{
    color: var(--other-color);
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 3rem;
    font-family: "Dosis", sans-serif;
    font-weight: 500;
}
.about-text h6{
    font-size: 20px;
    margin-top: -30px;
    margin-bottom: 20px;
}


.skill h1{
    text-align: center;
    margin-top: -90px;
    font-family: "Dosis", sans-serif;
    font-weight: 900;
    font-size: 50px;
}
h3{
    margin: 5px;
}
.skill{
    width: 700px;
    margin: 40px auto;
    color: #f5f0f0;
    padding: 70px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.skill li{
    margin: 50px 0;
    padding: 10px;
}
.bar{
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12) 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgba(236,0,140,1)0%, rgba(252,103,103,1)100%);
}
.html{
    width: 90%;
    animation: html 3s;
}
.Python{
    width: 80%;
    animation: UI 3s;
}
.SQL{
        width: 60%;
        animation: UX 3s;
    }
.PHP{
    width: 70%;
    animation: PHP 3s;
}
@keyframes  html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes  Python{
    0%{
        width: 0%;
    }
    100%{
        width: 55%;
    }
}
@keyframes  SQL{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes  PHP{
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }
}


.top-header h1{
    text-align: center;
    margin-top: 50px;
    font-family: "Dosis", sans-serif;
    font-weight: 900;
    font-size: 50px;
}
.work-list{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
grid-gap: 40px;
margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f );
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 12px;
    transition: height 0.5s;
}
.layer h3{
    font-style: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
     transform: scale(1.1);
}
.work:hover  .layer{
    height: 100%;
}

    

.res h1{
    text-align: center;
    font-family: "Dosis", sans-serif;
    font-weight: 900;
    font-size: 50px;
    margin-top: 30px;
    
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
    background-position: center;
    border-color: #090909;
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 180px;
}


.contact-left h1{
    text-align: center;
    font-family: "Dosis", sans-serif;
    font-weight: 900;
    font-size: 50px;
    margin-top: -50px;
}
.contact-left p{
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    margin-left: -250px;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #341bf4;
    border-radius: 6px;
    margin-right: 10px;
}
.social-icons{
    margin-top: 10px;
    margin-left: -250px;
}
.social-icons a{
    font-size: 30px;
    text-decoration: none;
    color: #341bf4;
    
}
.contact-right form{
    margin-top: 10px;
    font-family: "Dosis", sans-serif;
    font-weight: 900;
    font-size: 30px;
    width: 100%;
    margin-left: 250px;
    margin-top: -100px;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #f0eeee;
    padding: 15px;
    margin: 15px 0;
    color: #0c0c0c;
    font-size: 18px;
    border-radius: 6px;
}
form .btn3{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}



.end-section{
    padding: 80px 19% 70px;
    background: var(--secont-bg-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.end-section h3{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}
.end-section p{
    color: var(--other-color);
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 20px;
}
.end-section i{
    height: 40px;
    width: 40px;
    background: var(--main-color);
    color: var(--bg-color);
    border: 2px solid var(--main-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 50%;
    margin: 0 9px;
}
